body
{
	overflow-x: hidden;
}

#header
{
	background-color: #404040;
}

.logo
{
	height: 50px; 
	width: 50px; 
	margin-left: 62px;
	margin-top: 9px;
}

#header-title
{
	color: #e6e6e6; 
	margin-left:128px; 
	margin-top:-45px; 
	margin-bottom:14px;
}

#header-text
{
	color: #e6e6e6; 
	margin-left:-183px; 
	margin-top:28px;
}

#logout-button
{
	border-radius: 5px;
	background-color: grey;
	margin-top: -10px;
	margin-right: -5px;
	margin-left: -185px;
}

#clientName
{
	color:#ffffff; 
	line-height:35px; 
	text-indent: 20px;
}

.glyphicon.glyphicon-off
{
	z-index: 1;
	font-size: 16px;
	position: absolute;
	color: #ffffff;
	margin-top: 8px;
	margin-left: 205px;
}

.glyphicon.glyphicon-off:hover
{
	color: red;
}

.glyphicon.glyphicon-menu-hamburger
{
	font-size: 18px;
	color: grey;
}

.glyphicon.glyphicon-menu-hamburger:hover
{ 
	color: #4da6ff;
}

#sidebar-wrapper
{
	margin-top: -45px;
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	background: #666666;
	overflow-y: hidden;
	transition: all 0.5s ease;
}

#page-content-wrapper
{
	margin-top: -30px;
	width: 100%;
	position: absolute;
	padding: 15px;
	transition: all 0.5s ease;
}

#wrapper.menuDisplayed #sidebar-wrapper
{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper
{
	padding-left: 250px;
}

.sidebar-nav
{
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li
{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
	color: #b3b3b3;
}

.sidebar-nav li a:hover
{
	text-decoration: none;
	color: #4da6ff;
	background: #808080;
}

.sidebar-nav > .sidebar-brand
{
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav > .sidebar-brand a
{
	color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover
{
	color: #4da6ff;
	background: none;
}

#page-title
{
	margin-top:-24px; 
	margin-bottom:18px; 
	margin-left: 30px;
}

#myInput 
{
  background-image: url("img/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 96%;
  font-size: 16px;
  padding: 10px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.card1
{
	margin-left: -50px; 
	margin-top: 80px; 
	width: 225px;
}

.card2
{
	margin-left: -25px; 
	margin-top: 80px; 
	width: 225px;
}

.card3
{
	margin-top: 80px; 
	width: 225px;
}

.card4
{
	margin-left: 25px; 
	margin-top: 80px; 
	width: 225px;
}

.card0
{
	margin-left: 50px; 
	margin-top: 80px; 
	width: 225px;
}

.card-body
{
	background-color: #e0e0eb; 
	margin-top: -8px; 
	padding-top: 3px; 
	padding-bottom: 5px; 
	text-align: center;
}

.modal-footer
{
	margin-bottom: -25px;
}

.card-img-top
{
	width: 225px;
	height: 317px;
	object-fit: cover;
}

#createBtn
{
	margin-top: 50px;
}

#searchTable
{
	width: 100%;
}